.container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  padding: 0 0 0.2em 0;
  background-color: #c3cfe2;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 330px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 1em;
}

.container__box {
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 1em;
  min-width: 360px;
  min-height: 117px;
  max-width: 331px;
  max-height: 780px;
  -webkit-box-shadow: 8px 5px #b1b1b1;
          box-shadow: 8px 5px #b1b1b1;
  margin: 20px;
}

.container__paragraph {
  padding: 1em 2em;
  line-height: 140%;
}

.container__image {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.container__image img {
  width: 150px;
  height: 150px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background-color: #fff;
  border: solid #fff 5px;
  position: relative;
  top: 2em;
  -o-object-fit: cover;
     object-fit: cover;
}

.container__footer {
  background-color: #686de0;
  min-height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1em;
  text-align: center;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

@media (max-width: 480px) {
  .container1 {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .header {
    min-width: 341px;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container2 {
  display: -ms-grid;
  display: grid;
  padding: 25px;
  min-width: 341px;
  background-color: #c3cfe2;
}

.container2 .grid__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto-fit)[3];
      grid-template-columns: repeat(3, auto-fit);
  grid-gap: 20px;
}

.container2 .grid__wrapper.grid__wrapper > div:nth-child(2n + 1) {
  position: relative;
  background-color: #42447e;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.container2 .grid__wrapper.grid__wrapper > div:nth-child(2n + 2) {
  position: relative;
  background-color: #1a1ea1;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
}

.container2 .grid__wrapper .btn {
  border-radius: 10px;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  opacity: 0;
  -webkit-transition-duration: 750ms;
          transition-duration: 750ms;
}

.container2 .grid__wrapper .btn:hover {
  background-color: #333131;
  opacity: 1;
}

.container2 .grid__wrapper .btn h1 {
  -webkit-text-decoration-style: none;
          text-decoration-style: none;
  background-color: white;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px 10px;
}

.container2 .grid__wrapper img {
  border-radius: 10px;
  max-width: 100%;
}

@media (max-width: 1024px) {
  .grid__wrapper {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 700px) {
  .grid__wrapper {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 480px) {
  .grid__wrapper {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

.boxes > div:nth-child(1n) {
  background-color: #c3cfe2;
}

.boxes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto-fit)[12];
      grid-template-columns: repeat(12, auto-fit);
  -ms-grid-rows: (auto-fit)[12];
      grid-template-rows: repeat(12, auto-fit);
}

.header {
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1 / 12;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.content {
  -ms-grid-column: 1;
  -ms-grid-column-span: 11;
  grid-column: 1/12;
  -ms-grid-row: 3;
  -ms-grid-row-span: 4;
  grid-row: 3/7;
}

.menu {
  position: absolute;
  right: 70px;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container3 {
  position: fixed;
  width: 500px;
  top: 150px;
  -webkit-box-shadow: 0px 2px 8px 2px #3f3f3f;
          box-shadow: 0px 2px 8px 2px #3f3f3f;
  -webkit-animation-name: expand;
          animation-name: expand;
  -webkit-animation-duration: 2000ms;
          animation-duration: 2000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.51, 0.85, 0.67, 1.22);
          animation-timing-function: cubic-bezier(0.51, 0.85, 0.67, 1.22);
}

.container3.container3 ul {
  list-style: none;
}

.container3.container3 ul li {
  height: 60px;
  position: relative;
}

.container3.container3 ul li a {
  text-decoration: none;
  font-family: "monterrat", sans-serif;
  font-size: 0.8rem;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 60px;
  padding-right: 25%;
  border-bottom: 0.1px solid black;
  color: white;
  text-transform: uppercase;
}

.container3.container3 ul li a:hover {
  border-radius: 10px;
}

.container3.container3 ul .blog {
  background-color: #e17b77;
}

.container3.container3 ul .blog:hover {
  -webkit-animation-name: expand1;
          animation-name: expand1;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.36, 0.88, 0.72, 1.5);
          animation-timing-function: cubic-bezier(0.36, 0.88, 0.72, 1.5);
  -webkit-box-shadow: 0px 2px 8px 2px #3f3f3f;
          box-shadow: 0px 2px 8px 2px #3f3f3f;
  border-radius: 10px;
}

.container3.container3 ul .blog a::before {
  content: url(images/blog.png);
  margin: 0 15px 0 20px;
  position: relative;
  top: 10px;
}

.container3.container3 ul .twitter {
  background-color: #00aced;
}

.container3.container3 ul .twitter:hover {
  -webkit-animation-name: expand1;
          animation-name: expand1;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.36, 0.88, 0.72, 1.5);
          animation-timing-function: cubic-bezier(0.36, 0.88, 0.72, 1.5);
  -webkit-box-shadow: 0px 2px 8px 2px #3f3f3f;
          box-shadow: 0px 2px 8px 2px #3f3f3f;
  border-radius: 10px;
}

.container3.container3 ul .twitter a::before {
  content: url(images/twitter.png);
  margin: 0 15px 0 20px;
  position: relative;
  top: 10px;
}

.container3.container3 ul .linkedin {
  background-color: #007bb6;
}

.container3.container3 ul .linkedin:hover {
  -webkit-animation-name: expand1;
          animation-name: expand1;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.36, 0.88, 0.72, 1.5);
          animation-timing-function: cubic-bezier(0.36, 0.88, 0.72, 1.5);
  -webkit-box-shadow: 0px 2px 8px 2px #3f3f3f;
          box-shadow: 0px 2px 8px 2px #3f3f3f;
  border-radius: 10px;
}

.container3.container3 ul .linkedin a::before {
  content: url(images/linkedin.png);
  margin: 0 15px 0 20px;
  position: relative;
  top: 10px;
}

.container3.container3 ul .facebook {
  background-color: #3b5998;
}

.container3.container3 ul .facebook:hover {
  -webkit-animation-name: expand1;
          animation-name: expand1;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.36, 0.88, 0.72, 1.5);
          animation-timing-function: cubic-bezier(0.36, 0.88, 0.72, 1.5);
  -webkit-box-shadow: 0px 2px 8px 2px #3f3f3f;
          box-shadow: 0px 2px 8px 2px #3f3f3f;
  border-radius: 10px;
}

.container3.container3 ul .facebook a::before {
  content: url(images/facebook.png);
  margin: 0 15px 0 20px;
  position: relative;
  top: 10px;
}

.container3.container3 ul .github {
  background-color: #333;
}

.container3.container3 ul .github:hover {
  -webkit-animation-name: expand1;
          animation-name: expand1;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: cubic-bezier(0.36, 0.88, 0.72, 1.5);
          animation-timing-function: cubic-bezier(0.36, 0.88, 0.72, 1.5);
  -webkit-box-shadow: 0px 2px 8px 2px #3f3f3f;
          box-shadow: 0px 2px 8px 2px #3f3f3f;
  border-radius: 10px;
}

.container3.container3 ul .github a::before {
  content: url(images/github.png);
  margin: 0 15px 0 20px;
  position: relative;
  top: 10px;
}

@-webkit-keyframes expand {
  from {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes expand {
  from {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes expand1 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}

@keyframes expand1 {
  from {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
  }
}
/*# sourceMappingURL=style.css.map */